# MongoDB Connection String (Required)
# E.g., mongodb+srv://<username>:<password>@cluster0...
MONGO_DB_URL=

# MLflow / DagsHub Configuration (Optional)
DAGSHUB_REPO_OWNER=its-me-meax
DAGSHUB_REPO_NAME=networksecurity
# MLFLOW_TRACKING_URI=https://dagshub.com/its-me-meax/networksecurity.mlflow
